.idea/
.vs/
build/

candybox/externs/candybox/catch2/
candybox/externs/candybox/imgui/
candybox/externs/candybox/glm/

modules/boost/
modules/box2c/
modules/clipper2_1.3.0
modules/entt/
modules/libtess2
modules/tracy

# tools
tools/CORPSE-master (1)
tools/CrowdPathfinding-main
tools/pico_headers-main
tools/rts-path-finding-master
tools/SFML-master
