.vs/
.idea/
build/
node_modules/

# git sub-modules
modules/box2c/
modules/glm/
modules/tracy/
modules/entt/

# waiting to be converted< we need cxx11 version,
# but clipper2 is in cxx17
modules/clipper2_1.3.0

modules/imgui
modules/libtess2

# directly copied modules
modules/boost/
modules/catch2/
modules/nice-color-palettes/

# temporarily be here and soon will be removed
modules/glbinding
modules/globjects

# tools
tools/CORPSE-master (1)
tools/CrowdPathfinding-main
tools/pico_headers-main
tools/rts-path-finding-master
tools/SFML-master
